
nav a:hover {
background: #00b1f5;
}
.fal .fa-shopping-basket {
    color: aqua;
}
.navbar {
    background: darkblue;
    padding-left: 123px;
}

#mainPageCarousel {
    height: 75vh;
    min-height: 500px;
    ;
}

#mainPageCarousel .carousel-inner,
#mainPageCarousel .carousel-item,
#mainPageCarousel .carousel-item img {
    height: 120%;   
}

#mainPageCarousel .carousel-item img {
    object-fit: cover;
   
}
.products {
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 40px;

}
.products .btn {
    align-content: center;
}

#pirmakat {
    background-image: url("baldukojos.jpg");
    height: 40vh;
    object-fit: cover;
    border-radius: 8px;
  padding-top: 2em;
    padding-left: 2em;
}
#antrakat {
    background-image: url("skardosgaminiai.jpeg");
    height: 40vh;
    object-fit: cover;
    border-radius: 8px;
    padding-top: 2em;
    padding-left: 2em;
}
.products h4  {
    color: black;
    align-items: flex-start;
}
.products h4 .btn {
    display: flex;
    align-content: center;
}
footer {
    padding-top: 3em;
    height: 25%;
    text-align: center;
    background: #dee2e6;
}
footer i{
font-size: 2em;
}

.apiemus p {
    text-align: left;
}
.apiemus {
    padding-left: 5em;
    padding-top: 3em;
    padding-right: 5em;
}
#kontaktai {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}
.galery span{
    color: #0b2e13;
    font-size: 2em;
}
.box {
align-items: center;
}

#popupas-uzklausa {

}

.galery .soninis_meniu a{
    background: #17a2b8;
    color: white;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 3);
    width: 100%;
}
.galery {
    padding-left: 3em;
    background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.99)),url("../images/blue.jpeg");;

}


.galery h3{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 19px;
}